NUXT_MOCK_API=https://68dab74f23ebc87faa310cbf.mockapi.io
NUXT_MOCK_API_TODOS_PATH=/api/v1/tasks
NUXT_BASE_URL_TO_NUXT_API=https://api.nuxt.com
NUXT_API_SECRET=api-secret-example
# NUXT_PUBLIC_THEME=theme-example
NUXT_PUBLIC_APP_NAME=Nuxt3 Tutorial
NUXT_PUBLIC_API_BASE=api-base-example
NUXT_PUBLIC_BASE_URL=base-url-example
NUXT_PUBLIC_SITE_URL=https://example.com
NUXT_SITE_URL=https://example.com
NUXT_SITE_NAME=Nuxt3 Tutorial
NUXT_SITE_ENV=staging
